#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Categories=Application;Utility;TextEditor;
Terminal=false
Exec=ulieditpro
Name=Uli Edit Pro 1.0
Icon=/opt/ulieditpro/images/icon.png
MimeType=text/*;
